@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

.fondo{
  background-color: #02101b;
}

.titulo{
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 25px;
  color:  #c1c1c1 ;
}

.titulo:hover{
  color:  #c1c1c1 ;
}

.itemsLista{
  color:#F7D7FF;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
}

.itemsLista:hover{
  color: #FDF7FF;
}

.botonMas{
  width: 50px;
  height: 50px;
}

.tituloBlog{
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 18px;
  color:  #c1c1c1 ;
}

.subtituloBlog{
  font-family: monospace;
  text-decoration: none;
  font-size: 15px;
  color:  #c1c1c1 ;
}

.titulosSecciones{
  font-family:'Inconsolata', monospace;
  text-decoration: none;
  color:   #93379c ;
}

.subtituloFecha{
  font-family: monospace;
  text-decoration: none;
  font-size: 15px;
  color:  #7f7f7f  ;
}

.tituloLink{
  font-family:'Inconsolata', monospace;
  text-decoration: none;
  font-size: 15px;
  text-decoration: underline;
  color:   #b7b7b7   ;
  transition-property: color;
  transition-duration: 0.5s;
}

.tituloLink:hover{
  color: #93379c;
}

.itemsListaFooter{
  color:  #3e4144  ;
  font-family: monospace;
  text-decoration: none;
  text-decoration: underline;
}

.itemsListaFooter:hover{
  color: #FDF7FF;
}

.bMostrarMas{
  border-color:    #979497   ;
  border-width: 1px;
  background-color: transparent;
  color:   #979497  ;
  border-radius: 4px;
  padding: 7px 10px;
}

.bMostrarMas:hover{
  background-color: #979497;
  color: #02101b;
}
