@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

.fondo{
  background-color: #02101b;
}

.titulo{
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 25px;
  color:  #c1c1c1 ;
}

.titulo:hover{
  color:  #c1c1c1 ;
}

.itemsLista{
  color:#F7D7FF;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
}

.itemsLista:hover{
  color: #FDF7FF
}

.botonMas{
  width: 50px;
  height: 50px;
}

.tituloBlog{
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 18px;
  color:  #c1c1c1 ;
}

.subtituloBlog{
  font-family: monospace;
  text-decoration: none;
  font-size: 17px;
  color:  #c1c1c1 ;
}

.titulosSecciones{
  font-family:'Inconsolata', monospace;
  text-decoration: none;
  color:   #93379c ;
}
