@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



#panarticulo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -10px;
  border-radius: 20px 20px 20px 20px;
}

#panarticulo h1{
  margin-left: 30px;
  font-size: 24px;
  margin-top: 20px;
  font-family:'PT Sans', sans-serif;
  color: black;
  border-bottom: 1px solid black;
}

#panarticulo h4{
  margin-left: 30px;
  font-size: 22px;
  font-family:'PT Sans', sans-serif;
  color: black;
}

#panarticulo h4 a{
  text-decoration: none;
  margin-left: 15px;
  font-size: 22px;
  font-family:'PT Sans', sans-serif;
  color: gray;
}
#panarticulo h4 a:hover{
  color: #8e44ad;
}

#panarticulo img{
  box-shadow: 0 0 10px black;
}

#panarticulo p{
  color: white;
  width: 100%;
  text-align: justify;
  margin-left: 30px;
 font-family: 'Hubballi', cursive;
  font-size: 25px;
}

#panarticulo li{
  color: white;
  width: 100%;
  text-align: justify;
  margin-left: 30px;
 font-family: 'Hubballi', cursive;
  font-size: 25px;
}

#indice{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  margin-top: 30px;
  background-color: #242827;
  border-radius: 20px 20px 20px 20px;
  transition-property: box-shadow, transform;
  transition-duration: .2s;
}

#indice:hover{
  box-shadow: 10px 10px black;
  transform: scale(0.96);
}

#indice h1{
  position: relative;
  color: white;
  align-self: center;
  font-family:'PT Sans', sans-serif;
}

#indice ul li{
  display: flex;
  flex-direction: column;
}

#indice ul li a {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: white;
  transition-property: color;
  transition-duration: .2s;
}

#indice ul li a:hover{
  color: #8e44ad;
  cursor: pointer;
}

#comunidad {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 14px;
}

#bAyudar{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 94%;
  height: 45%;
  background-color:   #474747   ;
  color: white;
  border-color:  #727373;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  transition-property: background-color;
  transition-duration: .8s;
}

#bAyudar:hover {
  background-color: #242827;
}

#bAyudar a{
  color: white;
  text-decoration: none;
  text-align: justify;
  margin-left: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  transition-property: color;
  transition-duration: .2s;
}

#bAyudar a:hover{
  color: #8e44ad  ;
  cursor: pointer;
}

#logoAyudar {
  width: 110px;
  height: 100px;
}

#panTituloArticulo{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  width: 89%;
  margin-top: 60px;
}

#tituloArticulo{
  display: flex;
  color:white;
  margin-top: 40px;
  font-family:'PT Sans', sans-serif;
  font-size: 70px;
}

#op1{
  margin-left: 30px;
  font-size: 24px;
  margin-top: 20px;
  font-family:'PT Sans', sans-serif;
  color: black;
  border-bottom: 1px solid black;
}
