#codigoeditor {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  margin-top: 30px;
  background-color: #242827;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px black;
}
#codigoeditor p{
  margin-left: 50px;
}
