@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
body {
  background-image: linear-gradient(to left,  #d1a263 , #e1c745);
}

#menuPrincipal{
  list-style-type: none;
  margin: 40px 20px 0px 20px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  #background-color: red;
}

#logo {
  width: 240px;
  height: 50px;
  margin-left: 20px;
}

li{
  display: inline-flex;
  color: white;
  margin: 10px;
}
#menu{
  float: right;
  margin-right: 20px;
}

#menu ul li a{
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;

  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-image: linear-gradient(to left,white, white);

  transition: background-size .3s;
}

#menu ul li a:hover{
  background-size: 100% 2px;
}
