@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{		/* CSS Reset */
	margin : 0;
	padding : 0;
}

#contenidos{
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 600px;
  flex-direction: row;
}

#contenidoPrincipal{
  width: 40%;
  display: flex;
  flex-direction: column;
}

#contenidoPrincipal h1{
  color:white;
  font-size: 23px;
  font-family: 'Lato', sans-serif;
}

#contenidoPrincipal p{
  color:white;
  margin-top: 40px;
  font-size: 45px;
  font-family: 'Lato', sans-serif;
}

#contenidoPrincipal h5{
	margin-top: 40px;
  color:  #2c3e50 ;
  font-size: 19px;
  margin-right: 60px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}


#bVermasprincipal {
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-top: 25%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #242827;
	color: white;
	padding: 8px;
	border-color:#242827;
	border-radius: 5px;
}

#bVermasprincipal:hover{
  cursor: pointer;
	border: 1px solid black;
  background-color: gray;
  color: white;
}

#imgContenidoPrincipal{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

#imgContenidoPrincipal img{
  position: relative;
  border-radius: 10px;
}

#imgAnuncio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:   #18212a ;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

#itemPc{
 	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 50px;
	background-color: red;
	height: 85%;
	width: 300px;
}

#itemPc p{
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

#logoPc{
	margin-bottom: 50px;
}
